body.menu-open {
    main {
        transform: rotate(-30deg);
    }

    .menu-toggle {
        .menu-open {
            transform: rotate(-20deg);
        }

        .menu-close {
            transform: rotate(0);
        }
    }

    .menu-items {
        li {
            transform: translateX(0);
            transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:nth-child(2) {
                transition-delay: 0.47s;
            }

            &:nth-child(3) {
                transition-delay: 0.48s;
            }
        }
    }

}